@model UniversityCourseAndResultApp.Models.Student

@{
    ViewBag.Title = "SaveStudentData";
    string message = ViewBag.message ?? "";
    string saveStudent = ViewBag.mess ?? "";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
    <style>
        .field-validation-error {
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <table align="center" style="width: 593px; height: 141px; border: none">
                <tr>
                    <td style="border: none" class="auto-style1">
                        <fieldset style="text-align: center; height: auto; width: 585px;">
                            <legend style="text-align: left; font-size: 25px;">Register Student</legend><br />
                           
                            <br />
                            <table align="center" style="width: 527px; height: 197px">
                                <tr>
                                    <td style="text-align: left; width: 79px">@Html.LabelFor(m => m.Name)</td>
                                    <td style="text-align: left; width: 173px;">@Html.TextBoxFor(m => m.Name)</td>
                                    <td style="text-align: left;">@Html.ValidationMessageFor(m => m.Name)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; width: 79px">@Html.LabelFor(m => m.Email)</td>
                                    <td style="text-align: left">@Html.TextBoxFor(m => m.Email)</td>
                                    <td style="text-align: left;">@Html.ValidationMessageFor(m => m.Email)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; width: 79px">@Html.LabelFor(m => m.ContactNo)</td>
                                    <td style="text-align: left">@Html.TextBoxFor(m => m.ContactNo)</td>
                                    <td style="text-align: left;">@Html.ValidationMessageFor(m => m.ContactNo)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; width: 79px">@Html.LabelFor(m => m.BirthDate)</td>
                                    <td style="text-align: left">@Html.TextBoxFor(x => x.BirthDate, new { @id = "date" }) </td>
                                    <td style="text-align: left;">@Html.ValidationMessageFor(m => m.BirthDate)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; width: 79px">@Html.LabelFor(m => m.Address)</td>
                                    <td style="text-align: left">@Html.TextAreaFor(m => m.Address, new { style = "width: 167px; vertical-align: top;" })</td>
                                    <td style="text-align: left;">@Html.ValidationMessageFor(m => m.Address)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; width: 79px">@Html.LabelFor(m => m.DeptCode)</td>
                                    <td style="text-align: left">@Html.DropDownListFor(m => m.DeptCode, new SelectList(ViewBag.Department, "Id", "Name"), "Select...", new { style = "width: 172px;" })</td>
                                    <td style="text-align: left">@Html.ValidationMessageFor(m => m.DeptCode)</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="3" style="text-align: center"><input type="submit" value="Register" /></td>
                                </tr>
                                <tr>
                                    <td>@saveStudent</td>
                                    <td>@message</td>
                                </tr>
                            </table>
                            <br />
                            <br />
                        </fieldset>
                    </td>
                </tr>
            </table>
        }
    </div>

    @*<script src="~/Scripts/jquery-2.2.0.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/jquery-ui-1.11.4.js"></script>*@

    >
</body>
</html>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script src="~/Scripts/jquery-3.1.0.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery-ui-1.12.0.js"></script>


<script>
    $(document).ready(function () {
        $("#date").datepicker({
            dateFormat: 'yy/mm/dd',
            changeMonth: true,
            changeYear: true
        });
        $("#date").datepicker("setDate", new Date());
    });
</script>
}