<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCommerce Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UCommerce Dasboard", "Admin", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "Admin", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            References
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Country", "Index", "Country")</li>
                            <li>@Html.ActionLink("City", "Index", "City")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Users
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            
                            <li>@Html.ActionLink("Users", "Index", "Users")</li>
                            <li>@Html.ActionLink("Verified User", "Index", "UsersVerified")</li>
                            <li>@Html.ActionLink("Admin", "Index", "UsersAdmin")</li>
                            <li>@Html.ActionLink("Login History", "Index", "LoginHistory")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Product
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Category", "Index", "Category")</li>
                            <li>@Html.ActionLink("Brand", "Index", "Brand")</li>
                            <li>@Html.ActionLink("Condition", "Index", "Condition")</li>
                            <li>@Html.ActionLink("Close Type", "Index", "CloseType")</li>
                            <li>@Html.ActionLink("Product", "Index", "Product")</li>
                            <li>@Html.ActionLink("Image", "Index", "ProductImage")</li>
                            <li>@Html.ActionLink("Verified", "Index", "ProductVerified")</li>
                            <li>@Html.ActionLink("Comments", "Index", "ProductComments")</li>
                            <li>@Html.ActionLink("Like", "Index", "ProductLike")</li>
                            <li>@Html.ActionLink("Rating", "Index", "ProductRating")</li>
                            <li>@Html.ActionLink("Closed", "Index", "ProductClosed")</li>
                            <li>@Html.ActionLink("Archive", "Index", "ProductArchive")</li>

                        </ul>
                    </li>

                    <li>@Html.ActionLink("Live Message", "Index", "LiveMessage")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BDJUcommerce Application by (Arif Vai)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
