<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCommerce Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Products.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UCommerce Application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="../Product/All"> All Products</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Brands
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                           @{ 
                               var brands = new BDJ.UCommerce.Models.bdjUCommerceEntities().brands;
                               foreach(var brand in brands)
                               {
                                   if (brand.products.Count() > 0)
                                   {
                                        @Html.Raw("<li><a href=\"../../Product/All?brand=" + brand.id.ToString() + "\">" + brand.name + "( " + brand.products.Count().ToString() + " )" + "</a></li>");
                                   }
                               }
                           }
                        </ul>
                    </li>

                    @{
                        var categories = new BDJ.UCommerce.Models.bdjUCommerceEntities().categories.Where(ctg=>ctg.category2 == null);
                        foreach (var category in categories)
                        {
                            if (category.category1.Count() > 0)
                            {
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="../../Product/Category/@category.id">
                                        @category.name
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        @foreach (var child in category.category1)
                                        {
                                            <li><a href="../../Product/Category/@child.id">@child.name</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><a href="../../Product/Category/@category.id">@category.name</a></li>
                            }
                        }
                    }
                    
                    <li class="active">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="active">@Html.ActionLink("About", "About", "Home")</li>

                    @if (Session["type"] != null && Session["type"].ToString() != "")
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                @Session["name"].ToString()
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">

                                <li>@Html.ActionLink("My Account", "MyAccount", "Users")</li>
                                <li>@Html.ActionLink("My Product", "MyProduct", "Users")</li>
                                <li><a href="../LoginHistory/MyLoginHistory">Login History</a></li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Live Message", "Dasboard", "Message")</li>

                    }


                </ul>
                @Html.Partial("_LoginPublic")
            </div>
        </div>
    </div>
    <div class="container body-content" style="padding-top:120px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BDJUcommerce Application by (Arif Vai)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
