@model IEnumerable<BDJ.UCommerce.Models.country>

@{
    ViewBag.Title = "Index";
}

<h2>Country </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            Cities
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
           <a href="../City/Index/?country=@item.id" title="@{

               foreach(var city in item.cities)
               {
                   @Html.Raw(city.name + "\n")

               }

           }">@item.cities.Count</a>
        </td>
        <td>
            @Html.ActionLink("Update", "Update", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
